# System files
# ------------
Icon
**/.DS_Store


# Kirby media files
# -----------------
/media/*
!/media/index.html


# Kirby content files
# -------------------
/content/*
!/content/site.txt
!/content/style.css


# Lock files
# ----------
.lock


# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea


# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# -----------
/site/cache/*
!/site/cache/index.html

# Accounts
# --------
/site/accounts/*
!/site/accounts/index.html

# Sessions
# --------
/site/sessions/*
!/site/sessions/index.html

# License
# -------
/site/config/.license


# -----------------
# NMC Docker Devops
# -----------------
# id.env file for Docker mount
/id.env

# Logs (exclude everything in these folders)
# Git does not track empty folders so use an ! override with an empty .gitkeep file to keep the folder
php-logs/*
!php-logs/.gitkeep 

apache-logs/*
!apache-logs/.gitkeep 

letsencrypt-logs/*
!letsencrypt-logs/.gitkeep 

certs/*
!certs/.gitkeep 